body {
  margin: 0;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFVZ0e.ttf) format('truetype');
}
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 90px;
  font-family: 'Montserrat';
}
nav .logo {
  margin-left: 5%;
  width: 55px;
}
@media (max-width: 500px) {
  nav .logo {
    width: 10%;
  }
}
nav .main-menu {
  display: flex;
  width: 39%;
}
@media (max-width: 500px) {
  nav .main-menu {
    width: 40%;
  }
}
nav .main-menu a:hover {
  color: #CDCDCD;
}
nav .main-menu .button {
  background-color: #4B6EF5;
  border-radius: 15px;
  color: white;
  padding: 7px 20px;
  margin-left: 12%;
}
@media (max-width: 500px) {
  nav .main-menu .button {
    font-size: 0.8rem;
    padding: 7px 10px;
  }
}
@media (max-width: 500px) {
  nav .main-menu {
    width: 100%;
    justify-content: center;
  }
}
nav .main-menu a {
  text-decoration: none;
  color: #4B6EF5;
  padding: 7px 3%;
  font-size: 0.8rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  nav .main-menu a {
    font-size: 0.8rem;
  }
}
footer {
  display: flex;
  margin-top: 20%;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
footer .logo-footer {
  width: 50%;
  padding-left: 20px;
}
footer .logo-footer img {
  width: 6%;
}
footer .footer-menu {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
footer .footer-menu a {
  text-decoration: none;
  font-family: 'Montserrat';
  color: #4B6EF5;
  font-size: 0.85rem;
  padding: 5%;
}
.hero {
  display: flex;
  margin-top: 15%;
}
@media (max-width: 500px) {
  .hero {
    flex-direction: column;
    align-items: center;
  }
}
.hero h1 {
  font-family: 'Montserrat';
  color: #4B6EF5;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .hero h1 {
    font-size: 2rem;
  }
}
.hero p {
  font-family: 'Open Sans';
  color: #3F3D56;
  margin-top: -5%;
  margin-bottom: 30px;
}
.hero .drawing1 {
  width: 50%;
}
.hero .drawing1 img {
  width: 70%;
  margin-left: 35%;
}
@media (max-width: 500px) {
  .hero .drawing1 img {
    width: 100%;
    margin-left: 0;
  }
}
.hero .text-one {
  width: 50%;
  padding-right: 15%;
  padding-left: 10%;
}
@media (max-width: 500px) {
  .hero .text-one {
    width: 70%;
    text-align: center;
    padding: 0%;
  }
}
.hero .button {
  background-color: #4B6EF5;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  padding: 7px 20px;
}
#features {
  background-color: #4B6EF5;
  margin-top: 10%;
  padding-bottom: 5%;
}
#features h1 {
  font-family: 'Montserrat';
  color: white;
  font-size: 3rem;
  text-align: center;
  padding-top: 5%;
}
@media (max-width: 500px) {
  #features h1 {
    font-size: 2rem;
    padding: 5%;
  }
}
#features .section-two {
  display: flex;
  margin-top: 10%;
}
@media (max-width: 500px) {
  #features .section-two {
    flex-direction: column;
    align-items: center;
  }
}
#features .section-two h1 {
  font-family: 'Montserrat';
  color: white;
  font-size: 1.5rem;
  text-align: left;
}
@media (max-width: 500px) {
  #features .section-two h1 {
    font-size: 1.2rem;
    text-align: center;
  }
}
#features .section-two p {
  font-family: 'Open Sans';
  color: #3F3D56;
}
#features .section-two .drawing2 {
  width: 50%;
}
#features .section-two .drawing2 img {
  width: 50%;
  margin-left: 45%;
}
@media (max-width: 500px) {
  #features .section-two .drawing2 img {
    margin-left: 0;
    width: 100%;
  }
}
#features .section-two .text-two {
  width: 50%;
  padding: 0 10%;
}
@media (max-width: 500px) {
  #features .section-two .text-two {
    padding: 0;
    width: 80%;
  }
}
#features .section-three {
  display: flex;
  margin-top: 5%;
}
@media (max-width: 500px) {
  #features .section-three {
    flex-direction: column;
    align-items: center;
  }
}
#features .section-three h1 {
  font-family: 'Montserrat';
  color: white;
  font-size: 1.5rem;
  text-align: left;
}
@media (max-width: 500px) {
  #features .section-three h1 {
    font-size: 1.2rem;
    text-align: center;
  }
}
#features .section-three p {
  font-family: 'Open Sans';
  color: #3F3D56;
}
#features .section-three .drawing3 {
  width: 50%;
}
#features .section-three .drawing3 img {
  width: 50%;
  margin-left: 45%;
}
@media (max-width: 500px) {
  #features .section-three .drawing3 img {
    margin-left: 0;
    width: 100%;
  }
}
#features .section-three .text-three {
  width: 50%;
  padding: 0 10%;
}
.bottom .bottom-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 7%;
  padding-left: 15%;
  padding-right: 15%;
}
.bottom .bottom-display .bottom-img {
  width: 100%;
  text-align: center;
}
.bottom .bottom-display .bottom-img img {
  width: 40%;
}
.bottom .bottom-display .bottom-text {
  width: 80%;
  margin-top: 8%;
}
.bottom .bottom-display .bottom-text p {
  font-family: 'Open Sans';
  color: #3F3D56;
  text-align: center;
  margin-bottom: 15%;
}
.bottom .bottom-display .button-bottom {
  background-color: #4B6EF5;
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-family: 'Montserrat';
  padding: 7px 20px;
  margin: 0 auto;
}
.bottom h1 {
  text-align: center;
  font-family: 'Montserrat';
  color: #4B6EF5;
  font-size: 3rem;
}
@media (max-width: 500px) {
  .bottom h1 {
    font-size: 2rem;
  }
}
