.section-one{
    display: flex;
    margin-top: 15%;

    h1{
        font-family: 'Montserrat';
        color: #4B6EF5;
        font-size: 2rem;
    }

    p{
        font-family: 'Open Sans' ;
        color:  #3F3D56;
    }


    .drawing1{
        width: 50%;

        img{
            width: 70%;
            margin-left: 35%;
        }
    }

    .text-one{
        width: 50%;
        padding: 0 10%; 
    }
}

.section-two{
    display: flex;
    margin-top: 15%;

    h1{
        font-family: 'Montserrat';
        color: #4B6EF5;
        font-size: 2rem;
    }

    p{
        font-family: 'Open Sans' ;
        color:  #3F3D56;
    }


    .drawing2{
        width: 50%;

        img{
            width: 70%;
            margin-left: 35%;
        }
    }

    .text-two{
        width: 50%;
        padding: 0 10%; 
    }
}